
#main-navbar {
  background-color: #27445C;
  overflow: hidden;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

#nav-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a{
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline; 
  text-decoration-thickness: 3px;
}

#titlecss {
  text-align: center;
  font-family: 'Righteous', cursive;
}


#infocss {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
 h2{
  text-decoration: underline;
  font-family: Times New Roman;
  font-size: 30px;
} 
#infocss p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 15px;
}
 
 #excss p {
  font-size: 13px;
  font-weight: 900;
 }
 
 body ul li{
   font-family: Times New Roman;
   font-size: 15px;
 }
 
 body ol{
   font-family: Times New Roman;
   font-size: 15px;
 }
 
body {
  background-color: #FCFBF4;
  margin: 50px;
}


/*css for Locations page*/

#location-body {
  background-color: gainsboro;
}
#location-body p {
  font-size: 13px;
}
#location-body li {
  font-weight: bold;
  list-style: none;
}
 .cabocss {
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: left;
 }
 
 .caboinfo {
   display: inline-block;
   border: 1px;
   padding: 1rem 1rem;
   vertical-align: middle;
   }
   
 .uscss {
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: left;
   }
  
  .usinfo {
    display: inline-block;
    border: 1px;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  
  .niagracss {
    border: 1px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
  }
  
  .niagrainfo {
    display: inline-block;
    border: 1px;
    padding: 1rem 1rem;
    vertical-align: middle;

  }
 
 .cancuncss{
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: left;
 }
 
 .cancuninfo {
   display: inline-block;
   border: 1px;
   padding: 1rem 1rem;
   vertical-align: middle;
 }
 

 
 .pariscss {
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: left;
 }
 
 .parisinfo {
   display: inline-block;
   padding: 1rem 1rem;
   vertical-align: middle;
 }
 
 
.images {
  width: 250px;
  height: 300px;
}



/*css for hobbies page*/
#hobby-body {
  background-color: #a2b0a8;
}


#hobby-body p {
  font-size: 13px;
}

#video {
  height: 250px;
  width: 350px;
}

#soccermain {
  border: 1px;
  
}

#soccerinfo {
  width: 50%;
  float: left;
  padding: 10px;
  border-right: 1px;
}

#soccerpic {
  margin-left: 50%;
  border-left: 1px;
  padding: 10px;
  line-height: 2em;
}





footer {
  clear: both;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  background-color: #27445C;
  color: white;
  
  
}


footer p {
  margin: 5px;
  padding: 0px;
}
  
  